.complate{
    width: 100%;
    padding: 87px 105px;
    border: 2px solid #FFFFFF;
    margin-bottom: 330px;

    img{
        position: absolute;
        top: 760px;
        left: 0;
        width: 100%;
    }

    h2{
        color: #D3A60D;
        font-size: 60px;
        font-weight: 700;
    }
}

